doctype html
html
  head
    meta(charset='utf-8')
    title Vale Fisico
    style.
      body {
        width: 100%;
        font-family: Tahoma;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: black;
        position: relative;
        margin: 0 auto;
      }
      .vale {
        height: calc(((27.94cm * .75) / 3));
        float: left;
        width: 100%;
        position: relative;
        font-size: 10px;
      }
      #folio1 {
        position: absolute;
        left: 48px;
        bottom: 42px;
      }
      #folio2 {
        position: absolute;
        right: 4px;
        top: 8px;
      }
      #nombre {
        position: absolute;
        right: 72px;
        bottom: 52px;
        font-size: 8px;
      }
      #folioIzq2 {
        position: absolute;
        left: 48px;
        bottom: 36px;
      }
      #folioDer2 {
        position: absolute;
        right: 4px;
        top: 24px;
      }
      #nombre2 {
        position: absolute;
        right: 72px;
        bottom: 40px;
        font-size: 8px;
      }
      #folioIzq3 {
        position: absolute;
        left: 48px;
        bottom: 18px;
      }
      #folioDer3 {
        position: absolute;
        right: 4px;
        top: 38px;
      }
      #nombre3 {
        position: absolute;
        right: 72px;
        bottom: 22px;
        font-size: 8px;
      }
      .div-vale {
        float: left;
        width: 100%;
        height: 33.3333vh;
      }
  body
    .vale
      span#folio1 folio1
      span#folio2 folio2
      span#nombre distribuidora
